In [1]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func
import pandas as pd
import json
import decimal

In [2]:
connection_string = "postgres:postgres@localhost:5432/data_analyst_db"
engine = create_engine(f'postgresql://{connection_string}')
engine.table_names()
Base=automap_base()
Base.prepare(engine,reflect=True)
Base.classes.keys()

<ipython-input-2-ba790d532365>:3: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['data_analyst_testing', 'data_analyst']

In [3]:
table=Base.classes.data_analyst_testing
session=Session(engine)

In [4]:
session.query(table.ID,table.Title,table.Salary,table.Rating,table.Company,table.Headquarters,table.Size,table.ownership,table.Industry,table.Sector,table.Revenue,table.min,table.max).all()

[]

In [6]:
data_list=[]
for row in rows:
    data_list.append(list(row))

NameError: name 'rows' is not defined

In [ ]:
class Encoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, decimal.Decimal): return float(obj)

json_file=json.dumps(data_list , cls = Encoder)

In [ ]:
table=Base.classes.data_analyst

In [ ]:
session=Session(engine)

In [ ]:
min_by_location=session.query(table.Location,func.sum(table.min)).group_by(table.Location).all()

In [ ]:
min_by_location

In [ ]:
result = []
for i in min_by_location:
    min_by_location_dict = {}
    min_by_location_dict["city-state"] = i[0]
    min_by_location_dict["The lowest min"] = i[1]
    result.append(min_by_location)

return jsonify(result)

In [ ]:
# #Extract CSV into DataFrame
# data_analyst_df = pd.read_csv("../data/clean_data_analyst.csv")
# data_analyst_df.iloc[0:]

In [ ]:
# #Create Database connection
# connection_string = "postgres:Jpm!1990@localhost:5432/da_job"
# engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
# engine.table_names()

In [ ]:
# Base=automap_base()
# Base.prepare(engine,reflect=True)
# Base.classes.keys()

In [ ]:
# job=Base.classes.test_limited_columns

In [ ]:
# session=Session(engine)

In [ ]:
# session.query(job.id).all()

In [ ]:
# #Use pandas to Load  csv converted DataFrames into database
# data_analyst_df.to_json('data_analyst_json', con=engine, if_exists='append', index=False)

In [ ]:
# #confirm data has been added by quering the table
# pd.read_sql_query('select * from data_analyst', con=engine).head()

In [ ]:
# data_analyst_df.to_json("jsonfile.json",orient='records')