In [6]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 50)

import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [7]:

df = pd.read_csv("clean_data_analyst.csv")

In [8]:
df.head(3)

          Location        Lat        Lot
0     New York, NY  40.712728 -74.006015
1  Jersey City, NJ  40.721568 -74.047455
2     Brooklyn, NY  40.652601 -73.949721

In [17]:
df = df.rename({'Unnamed: 0': 'ID','Job Title': 'Title', 'Company Name': 'Company', 'Type of ownership': 'ownership','Easy Apply': 'EasyApply'}, axis='columns')

In [19]:
df.head(2)

          Location        Lat        Lot
0     New York, NY  40.712728 -74.006015
1  Jersey City, NJ  40.721568 -74.047455

In [18]:
df[['Company',"Other"]] = df.Company.str.split("\n",expand=True)

AttributeError: 'DataFrame' object has no attribute 'Company'

In [11]:
df['Location'].value_counts()

Radnor, PA                 1
Pasadena, TX               1
Seattle, WA                1
Glendale, CA               1
Maywood, IL                1
                          ..
Allen, TX                  1
Coppell, TX                1
Evanston, IL               1
Dallas, TX                 1
South San Francisco, CA    1
Name: Location, Length: 230, dtype: int64

In [12]:
df['EasyApply'].value_counts()

KeyError: 'EasyApply'

In [13]:
# Easy apply option is not available for most of the companies. It seems like it is an unnecessary column.

In [ ]:
df['Competitors'].value_counts()

In [ ]:
df.columns

In [ ]:
for col in df:
    df[col]= df[col].replace('-1', np.nan)
    df[col]= df[col].replace(-1, np.nan)

In [ ]:
df = df.dropna(axis='rows')

In [ ]:
df['SalaryEstimate_ave']=(df['SalaryEstimate_low']+df['SalaryEstimate_high'])/2

In [ ]:
df['Revenue_ave']=(df['Revenue_low']+df['Revenue_high'])/2

In [ ]:
df['Comp_Age'] = 2020 - df['Founded']

In [ ]:
df["Comp_Age"].unique()

In [ ]:
# Salary Histogram

df['SalaryEstimate_low'].hist(density=1, label = "Min_Salary", edgecolor='k', alpha=0.65)
df['SalaryEstimate_high'].hist(density=1, label = "Max_Salary", edgecolor='k', alpha=0.65)

plt.xlabel("Salary ($)")
plt.legend({'Min_Salary':df['SalaryEstimate_low'],'Max_Salary':df['SalaryEstimate_high']})
plt.title("Distribution of Min & Max Salary",fontsize=19)

plt.axvline(df['SalaryEstimate_low'].mean(), color='k', linestyle='dashed', linewidth=1)
plt.axvline(df['SalaryEstimate_high'].mean(), color='k', linestyle='dashed', linewidth=1)

plt.tight_layout()
plt.savefig("salaryhist.png")
plt.show()

In [ ]:

plt.boxplot([df['SalaryEstimate_low'],df['SalaryEstimate_ave'],df['SalaryEstimate_high']], labels=['Min. Salary', 'Ave. Salary', 'Max. Salary'])

plt.title('Salary Distribution')
plt.savefig("salarybox.png")
plt.show()

In [ ]:
# Company Ratings Histogram

df['Rating'].hist(density=1, label = "Min_Salary",color='c', edgecolor='k', alpha=0.55)

plt.xlabel("Company Ratings)")
plt.title("Distribution of Company Ratings",fontsize=19)

plt.axvline(df['Rating'].mean(), color='k', linestyle='dashed', linewidth=1)


plt.tight_layout()
plt.savefig("rating.png")
plt.show()

In [ ]:
# Company Age Histogram

df['Comp_Age'].hist(density=1, label = "Min_Salary",color='y', edgecolor='k', alpha=0.55)

plt.xlabel("Company Age)")
plt.title("Distribution of Company Age",fontsize=19)

plt.axvline(df['Rating'].mean(), color='k', linestyle='dashed', linewidth=1)


plt.tight_layout()
plt.savefig("age.png")
plt.show()

In [ ]:
# Job Locations vs Hiring

Location_count = df.groupby('Location')[['Title']].count().reset_index().sort_values(
    'Title', ascending=False).reset_index(drop=True)

In [ ]:
Location_count

In [ ]:
x = Location_count['Location'].head(20)
y = Location_count['Title'].head(20)
fig, ax = plt.subplots(figsize =(12, 8))   
ax.bar(x, y) 
ax.grid(b = True, color ='grey', 
        linestyle ='-.', linewidth = 0.5, 
        alpha = 0.2) 
plt.xticks(rotation=90)
plt.xlabel("Location") 
plt.ylabel("Number of Open Position") 
plt.title("Top 20 Data Analyst Hiring Locations") 
plt.show() 
fig.savefig('hiring.png')

In [ ]:
plt.rcParams["figure.figsize"] = (20,10)
df['Company'].value_counts().sort_values(ascending=False).head(25).plot.bar(facecolor="purple", alpha=0.50, align="center")

plt.title('Companies with the Most Jobs Offered', size=20)
plt.xlabel("Company Name")
plt.ylabel("Number of Most Jobs Offered")

plt.savefig("Companies with Most jobs Offered1.png")

df['Company'].value_counts().sort_values(ascending=False).head(5)

In [ ]:
#Data Analysis

In [ ]:
# function to categorize jobs based on job title
def categorize_title(title):
    if "data scientist" in title.lower():
        return "data scientist"
    elif "analyst" in title.lower():
        return "analyst"
    elif "engineer" in title.lower():
        return "engineer"
    elif "manager" in title.lower():
        return "manager"
    elif "director" in title.lower():
        return "director"
    else:
        return "n/a"

# function to categorize jobs based on seniority in title
def seniority(title):
    if "sr" in title.lower() or "lead" in title.lower() or "principal" in title.lower() or "senior" in title.lower():
        return "senior"
    elif "jr" in title.lower() or "junior" in title.lower() or "entry" in title.lower():
        return "junior"
    else:
        return "n/a"
    
# function to create a filtered df without "-1" values
def filtered_df(data, column):
    data[column] = data[column].astype(str)
    new_df = data[data[column] != "-1"]
    return new_df

In [ ]:
# rename columns
df.columns = [column.replace(" ", "_").lower() for column in df.columns]

In [ ]:
df.head(2)

In [ ]:
# clean job description
df["job_description"] = df["job_description"].str.replace("\n", " ")

In [ ]:
# add state
df["state"] = df["location"].str.split(",", expand = True)[1]
df["state"] = df["state"].str.replace("Arapahoe", "CO")

In [ ]:
# clean size
df["size"] = df["size"].str.replace("to", "-")
df["size"] = df["size"].str.replace("employees", "")

In [ ]:
# age of company
df["age_of_company"] = df["founded"].apply(lambda x: x if x < 0 else 2021 - x)

In [ ]:
# key words
df['contains_sql'] = df["job_description"].apply(lambda x: 1 if 'sql' in x.lower() else 0)
df['contains_python'] = df["job_description"].apply(lambda x: 1 if 'python' in x.lower() else 0)
df['contains_tableau'] = df["job_description"].apply(lambda x: 1 if 'tableau' in x.lower() else 0)
df['contains_excel'] = df["job_description"].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df['contains_aws'] = df["job_description"].apply(lambda x: 1 if 'aws' in x.lower() or 'amazon' in x.lower() else 0)

In [ ]:
# job description length
df["job_desc_len"] = df["job_description"].apply(lambda x: len(x) if x != '-1' else 0)

In [ ]:
# job categories and seniority
df["categorized_title"] = df["title"].apply(categorize_title)
df["seniority"] = df["title"].apply(seniority)
df.head(5)

In [ ]:
analyst_df = df[df["categorized_title"] == "analyst"]

filtered_df(analyst_df, "sector").sector.value_counts(ascending = True).plot(kind='barh', figsize=(12, 10), color = "black")
plt.title("Total Analyst Jobs by Sector", fontsize = 20);
plt.savefig("Top Analyst Jobs by Sector.png")
plt.show()

Check how often skills appear in Job Description:

In [ ]:
skills = ['SAS', 'Hadoop', 'Python', 'R program','AWS', 'Azure','SQL', 'Excel','Machine Learning', 'Tableau', 'Power BI', 'Qlik']

In [ ]:
def skills_to_cols(dataframe, skills_list):
    for skill in skills_list:
        dataframe[skill+'_extracted'] = dataframe['job_description'].apply(lambda x: 1 if skill.lower() in x.lower() else 0)

In [ ]:
skills_to_cols(df, skills)

In [ ]:
cols_to_melt = [item+'_extracted' for item in skills]

In [ ]:
df_melted = pd.melt(df, value_vars=cols_to_melt, var_name='Skill',value_name='TrueFalse')

In [ ]:
filt = (df_melted['TrueFalse'] == 1)
df_melted = df_melted.loc[filt]

In [ ]:
f = plt.figure(figsize=(20,4))
f = sns.countplot(df_melted['Skill'], order = df_melted['Skill'].value_counts().index)
f.set_xticklabels(f.get_xticklabels(), rotation=45, horizontalalignment='right')
plt.title("Top Skills Set", fontsize = 20);
plt.savefig("Top Skill Setsr.png")
plt.show()

In [ ]:
#Number of job advertisement by State
plt.figure(figsize=(16,4))
sns.countplot(df['state'], order= df['state'].value_counts().index)
plt.title("Job Advertisement by State", fontsize = 20);
plt.savefig("Number of job advertisement per State.png")
plt.show()

In [ ]:
plt.figure(figsize=(16,6))
sns.barplot(x=df['city'].value_counts().head(10), y=df['city'].value_counts().head(10).index)
plt.xlabel('Number of job advertisements')
plt.ylabel('city')
plt.title("Job Advertisement by City", fontsize = 20);
plt.savefig("Number of job advertisement by city.png")
plt.show()

In [ ]:
#Industry
#Check the top 10 most occuring industries and sum there percentage

In [ ]:
f=plt.figure(figsize=(16,4))
f=sns.barplot(x=df['industry'].value_counts(normalize=True).iloc[0:10].index, y=df['industry'].value_counts(normalize=True).iloc[0:10]*100)
plt.xlabel('Industry Type')
plt.ylabel('Percentage')
f.set_xticklabels(f.get_xticklabels(), rotation=45, horizontalalignment='right')
plt.title("Top 10 Industries", fontsize = 20);
plt.savefig("Top 10 Industries.png")
plt.show()

In [ ]:
fig = go.Figure()

fig.add_trace(go.Bar(x=df.index,y=df['Min_Salary'],name='Minimum salary'))
fig.add_trace(go.Bar(x=df.index,y=df['Max_Salary'],name='Maximum Salary'))

fig.update_layout(title='Top 20 cities with their minimum and maximum salaries',barmode='stack')

fig.show()