In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
data=pd.read_csv('Data Analyst.csv')

In [6]:
#remove the unnamed column
data.drop(['Unnamed: 0'], axis=1,inplace=True)

In [7]:
#check for missing values
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns
missing_values_table(data)

Your selected dataframe has 15 columns.
There are 1 columns that have missing values.

              Missing Values  % of Total Values
Company Name               1                0.0

In [8]:
data['Easy Apply'].value_counts()

-1      2173
TRUE      80
Name: Easy Apply, dtype: int64

In [9]:
data['Competitors'].value_counts()

-1                                                      1732
Adecco, Manpower                                          14
Robert Half, Insight Global                               14
Artech Information Systems, Mindlance, Tech Mahindra      10
TEKsystems, Insight Global, Accenture                     10
                                                        ...
KPMG, Accenture, Deloitte                                  1
eHealth, Anthem                                            1
Accenture, Deloitte, IBM                                   1
TEKsystems, CGI, SDLC Partners                             1
Blizzard Entertainment, Riot Games, Electronic Arts        1
Name: Competitors, Length: 291, dtype: int64

In [10]:
data['Rating'].value_counts()[:5]

-1.0    272
 3.9    140
 3.6    135
 3.7    132
 5.0    131
Name: Rating, dtype: int64

In [11]:
#Replace -1 or -1.0 or '-1' to NaN
data=data.replace(-1,np.nan)
data=data.replace(-1.0,np.nan)
data=data.replace('-1',np.nan)

In [12]:
missing_values_table(data)

Your selected dataframe has 15 columns.
There are 12 columns that have missing values.

                   Missing Values  % of Total Values
Easy Apply                   2173               96.4
Competitors                  1732               76.9
Founded                       660               29.3
Industry                      353               15.7
Sector                        353               15.7
Rating                        272               12.1
Headquarters                  172                7.6
Size                          163                7.2
Type of ownership             163                7.2
Revenue                       163                7.2
Salary Estimate                 1                0.0
Company Name                    1                0.0

In [13]:
#Now you can see there are lots of missing values in the dataset. 'Easy Apply' and 'Competitors' has maximum number of missing values (> 50%)

#Most companies has null values in easy apply because they are not hiring .

In [14]:
data['Company Name'],_=data['Company Name'].str.split('\n', 1).str

<ipython-input-14-d79831fb4d01>:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  data['Company Name'],_=data['Company Name'].str.split('\n', 1).str

In [15]:
data['Job Title'],data['Department']=data['Job Title'].str.split(',', 1).str

<ipython-input-15-2485459de680>:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  data['Job Title'],data['Department']=data['Job Title'].str.split(',', 1).str

In [16]:
data['Salary Estimate'],_=data['Salary Estimate'].str.split('(', 1).str

<ipython-input-16-db56586e1189>:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  data['Salary Estimate'],_=data['Salary Estimate'].str.split('(', 1).str

In [17]:
data['Min_Salary'],data['Max_Salary']=data['Salary Estimate'].str.split('-').str
data['Min_Salary']=data['Min_Salary'].str.strip(' ').str.lstrip('$').str.rstrip('K').fillna(0).astype('int')
data['Max_Salary']=data['Max_Salary'].str.strip(' ').str.lstrip('$').str.rstrip('K').fillna(0).astype('int')

<ipython-input-17-459ba913a5e5>:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  data['Min_Salary'],data['Max_Salary']=data['Salary Estimate'].str.split('-').str

In [18]:
data.drop(['Salary Estimate'],axis=1,inplace=True)

In [19]:
data.head()

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,Department,Min_Salary,Max_Salary
0,Data Analyst,Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice,"New York, NY","New York, NY",201 to 500 employees,1961.0,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),NaN,TRUE,Center on Immigration and Justice (CIJ),37,66
1,Quality Data Analyst,Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York,"New York, NY","New York, NY",10000+ employees,1893.0,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),NaN,NaN,NaN,37,66
2,Senior Data Analyst,We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace,"New York, NY","New York, NY",1001 to 5000 employees,2003.0,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,NaN,Insights & Analytics Team [Customer Operations],37,66
3,Data Analyst,Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity,"New York, NY","McLean, VA",201 to 500 employees,2002.0,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),NaN,NaN,NaN,37,66
4,Reporting Data Analyst,ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel,"New York, NY","New York, NY",501 to 1000 employees,2009.0,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,TRUE,NaN,37,66