In [1]:
pip install plotly.graph_objs

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement plotly.graph_objs
ERROR: No matching distribution found for plotly.graph_objs

In [2]:
pip install plotly.express

Requirement already satisfied: plotly.express in c:\users\owner\anaconda3\python\lib\site-packages (0.4.1)
Requirement already satisfied: scipy>=0.18 in c:\users\owner\anaconda3\python\lib\site-packages (from plotly.express) (1.6.2)
Requirement already satisfied: plotly>=4.1.0 in c:\users\owner\anaconda3\python\lib\site-packages (from plotly.express) (5.3.1)
Requirement already satisfied: patsy>=0.5 in c:\users\owner\anaconda3\python\lib\site-packages (from plotly.express) (0.5.1)
Requirement already satisfied: pandas>=0.20.0 in c:\users\owner\anaconda3\python\lib\site-packages (from plotly.express) (1.2.4)
Requirement already satisfied: numpy>=1.11 in c:\users\owner\anaconda3\python\lib\site-packages (from plotly.express) (1.20.1)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\owner\anaconda3\python\lib\site-packages (from plotly.express) (0.12.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\owner\anaconda3\python\lib\site-packages (from pandas>=0.20.0->plotly.express) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\owner\anaconda3\python\lib\site-packages (from pandas>=0.20.0->plotly.express) (2021.1)
Requirement already satisfied: six in c:\users\owner\anaconda3\python\lib\site-packages (from patsy>=0.5->plotly.express) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\owner\anaconda3\python\lib\site-packages (from plotly>=4.1.0->plotly.express) (8.0.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install plotly.subplots

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement plotly.subplots
ERROR: No matching distribution found for plotly.subplots

In [4]:
pip install plotly.offline

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement plotly.offline
ERROR: No matching distribution found for plotly.offline

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objs as go
import plotly.express as px
from plotly.subplots import make_subplots 
from plotly.offline import init_notebook_mode, iplot

In [2]:
data_lyst = pd.read_csv("clean_data_analyst.csv")
data_lyst.head()

               Location        Lat        Lot
0          New York, NY  40.712728 -74.006015
1       Jersey City, NJ  40.721568 -74.047455
2          Brooklyn, NY  40.652601 -73.949721
3         Weehawken, NJ  40.769546 -74.020418
4  Long Island City, NY  40.741509 -73.956975

In [3]:
data_lyst_by_title = data_lyst[data_lyst['Title']=='Data Analyst']

KeyError: 'Title'

In [ ]:
#sns.set(style ="white", palette = "deep", color_codes=True)
#f, axes = plt.subplots(1,2, figsize=(15,8)
#sns.despine(left=True)

#sns.distplot(data_lyst_by_title['min'], color="b")

#sns.distplot(data_lyst_by_title['max'], color="r")

#plt.setp(axes, yticks=[])
#plt.tight_layout()

In [9]:
location_df =data_lyst["Location"].value_counts()
location_df.head

<bound method NDFrame.head of New York, NY             310
Chicago, IL              130
San Francisco, CA        119
Austin, TX                81
Los Angeles, CA           80
                        ...
Moorestown, NJ             1
Roanoke, TX                1
Montvale, NJ               1
Fort Washington, PA        1
Elk Grove Village, IL      1
Name: Location, Length: 253, dtype: int64>

In [10]:
location_df=pd.DataFrame["New York, NY", "Chicago, IL", "San Francisco, CA", "Austin, TX", "Los Angeles, CA"]
location_df.head

TypeError: 'type' object is not subscriptable

In [11]:
df=data_lyst.groupby('Location')[['max','min']].mean().sort_values(['max','min'],ascending=False).head(20)

DataError: No numeric types to aggregate

In [12]:
fig = go.Figure()

fig.add_trace(go.Bar(x=df.index,y=df['min'],name='Minimum Salary'))
fig.add_trace(go.Bar(x=df.index,y=df['max'],name='Maximum Salary'))

fig.update_layout(title='Top 20 cities with their minimum and maximum salaries',barmode='stack')

fig.show()

NameError: name 'df' is not defined